 <div class="row">
   <div class="col m6 offset-m3">
     <div class="card-content landing-card">
       <p>Momentum is a blogging platform, visually designed to
         turn your content and pictures into something memorable. We
         take a post's data to visualize each moment you record as a
         unique crystal; no two crystals are the same. It's built on
         the idea that our experiences mean more to us than a 140
         character tweet or a thousand likes.
       </p>
     </div>
   </div>
   <div class="col m6 offset-m3 sign-in">
     <a ui-sref="submit.signin" ng-hide="vm.authService.isLoggedIn();" class="waves-effect waves-light right btn black">S I G N I N</a>
   </div>
 </div>
