<h2> {{vm.user.name.toUpperCase();}} </h2>
<div id="momentum" class="row">
  <button ng-if="'moment' | isState" ng-click="vm.transition('.create');" class="btn grey darken-4" type="text">C R E A T E A M O M E N T</button>
  <button ng-if="!('moment' | isState)" ng-click="vm.transition('');" class="btn grey darken-4" type="text">B A C K T O M O M E N T S</button>
</div>

<div class="row">
  <div ng-if="'moment' | isState" ng-repeat="moment in vm.moments">

    <div ng-click="vm.renderMoment($index);" class="sign-in-card hoverable z-depth-3 col m3">
      <strong><h4>Title:{{moment.title}}</h4></strong><p>{{moment.createdAt}}</p>
    </div>
  </div>
</div>

<main ui-view></main>
