   <div class="row">
   <div class="col m6 offset-m3">
     <div class="landing-card hoverable">
       <div class="sign-in-card card">
         <div class="card-content">
           <div class="row">
             <form class="col s12">
               <div class="row">
                 <div class=" col s12">
                   <input id="email" type="email" class="validate">
                   <label for="email" data-error="wrong" data-success="right">Email</label>
                 </div>
               </div>
               <div class="row">
                 <div class=" col s12">
                   <input id="password" type="password" class="validate">
                   <label for="password" data-error="wrong" data-success="right">Password</label>
                 </div>
               </div>
             </form>
           </div>
         </div>
         <div class="center-align card-action">
           <a href="#">S U B M I T</a>
         </div>
       </div>
     </div>
   </div>
 </div>
