<div class="sign-up-form">
  <div class="row">
    <div class="col m4 offset-m4">
      <div class="sign-in-card card hoverable z-depth-3">
        <div class="card-content">
          <div class="row">
            <form ng-submit="vm.submitSignUp();" class="col s12">
              <div class=" col s12">
                <input ng-model="vm.NewUser.email" placeholder="Email" id="email" type="email" class="validate">
              </div>
              <div class=" col s12">
                <input ng-model="vm.NewUser.name" placeholder="Name" id="Name" type="text" class="validate">
              </div>
              <div class=" col s12">
                <input ng-model="vm.NewUser.password" placeholder="Password" id="password" type="password" class="validate">
              </div>
              <div class=" col s12">
                <input ng-model="vm.NewUser.password_confirmation"  placeholder="Confirm your password" id="password_cofirmation" type="password" class="validate">
              </div>
              <span  ng-show="vm.conflict ==='emailError'" ><label  class="conflict">"{{vm.NewUser.email}}" already exists in the database, Please enter a new email, or <u ui-sref="submit.signin">Sign In Here</u></label></span>
              <div class="col s12 btn-holder">
                <button class="btn grey darken-4" type="submit">S U B M I T</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
